<h2>Create a new drone</h2>
<div id="create-form-contain">
    <form action="/drones/create" method="post" id="form">
        <input type="text" name="name" placeholder="Drone name">
        <input type="number" name="propellers"placeholder="propellers">
        <input type="number" name="maxSpeed" placeholder="max speed">
        <input type="submit" value="Create Drone" id="input-button">
    </form>
</div>
    